* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* https://commons.wikimedia.org/wiki/File:World_map_blank_without_borders.svg */
    background: darkslategray url("../img/world.png") no-repeat center;
    background-size: cover;
}

#main {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 10px;
}
